logging.level.de.qwyt.housecontrol.tyche=DEBUG
logging.file=application.log

spring.application.name=tyche
server.port=8080

raspberry.ip=192.168.1.25

home.lat=-6.501408
home.lon=106.318075

deconz.apikey=key
deconz.http.port=80
deconz.websocket.port=443
deconz.websocket.url=ws://${raspberry.ip}:${deconz.websocket.port}

deconz.restapi.lights.url=http://${raspberry.ip}:${deconz.http.port}/api/${deconz.apikey}/lights
deconz.restapi.sensors.url=http://${raspberry.ip}:${deconz.http.port}/api/${deconz.apikey}/sensors
deconz.restapi.groups.url=http://${raspberry.ip}:${deconz.http.port}/api/${deconz.apikey}/groups

deconz.websocket.endpoints=${deconz.restapi.light.url},${deconz.restapi.sensor.url}

meteomatics.username=name
meteomatics.pw=pw
meteomatics.url=https://api.meteomatics.com

spring.data.mongodb.database=tyche
spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017